body{
    background-color: #1D2D3C;
}

/* Generics  */
.header{
    background-color: #05131E;
}

/* Cards   */
.bg-card{
    background-color: #10202F;
    height: 450px;
    cursor: pointer;
}

/* Modal  */
.song-modal{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(16,32,47, 0.9);
}

.modal-card{
    color: white;
    background-color: transparent;
}